body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.main-content {
    margin-top: -200px;
    
    padding: 0px;
}


img{
    width:100%;
}

.about-image {
    display: block;
    float:left;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
}


.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #B2E8CA; 
    color: #333; 
}
header {
    background-color: #0d6c7c;
    color: azure ;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-weight: bold;
    font-size: 2em;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color: azure;
}

.logo-footer{
    font-weight: bold;
    font-size: 2em;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color: #0d6c7c;
    padding: 50px;
}

nav ul {
    list-style: none;
    
    margin: 100;
    padding: 50;
    display: flex;
}

nav ul li {
    padding: 7px;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif !important;
    font-size: 1.2em;
}

.container {
    max-width: 100%;
    padding: 40px 20px; 
    text-align: center; 
}

.dataTables_length,
.dataTables_paginate,
.dataTables_info 
.dataTables_wrapper
.dataTables_filter input
.dataTables_processing{
    color: azure !important;
    font-size: 20px;
    margin-bottom: 20px;
}


h1 {
    font-size: 3rem; 
    color: #0d6c7c; 
    margin-bottom: 30px; 
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
}

.rss-feed {
    background-color: #9e9da9; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    padding: 20px;
    overflow-x: auto; 
}

#rssfeed-table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
    color: black;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 20px;
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#rssfeed-table th {
    background-color: #0d6c7c;
    color: #ffffff;
    padding: 12px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ddd; 
}

#rssfeed-table td {
    padding: 12px;
    border: 1px solid #ddd; 
    text-align: left;
}


#rssfeed-table a {
    color: #0d6c7c;
    text-decoration: none;
}

.desc_text {
    line-height: 1.6;
    font-size: 18px;
    margin-top: 15px;
    display: flex; 
    align-items: center; 
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .page-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .rss-feed {
        padding: 15px;
    }

    #rssfeed-table th,
    #rssfeed-table td {
        padding: 10px;
        text-align: left; 
    }

    #rssfeed-table img {
        max-width: 100%;
    }
}

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}


#rssfeed-table {
    margin-bottom: 30px;
}

#rssfeed-table img {
    max-width: 50%; 
    height: auto; 
    display: block; 
    margin: auto; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo-footer{
    font-weight: bold;
    font-size: 2em;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color: #0d6c7c;
    padding: 50px;
}
footer {
    margin-top: 100px;
    background-color: #B2E8CA;
    padding: 20px;
    border-top: 1px solid #000000;
    text-align: center;
}

.footer-links {
    color: #0d6c7c;
    display: flex;
    justify-content: center;
    gap: 0px;
    font-size: large;
    font-family:Lucidatypewriter, monospace;
}

.footer-link {
    flex: 1;
    border: 1px solid #000000;
    padding: 100px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.fade-in {
    animation: fadeIn 5s ease-out;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    animation: slideInFromBottom 1s ease-out;
}

.link{
    color: #0d6c7c;
    text-decoration: none;
}
